.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 0;
}

.footer__subscription {
  width: 50%;
}

.footer__box {
  display: flex;
  width: 50%;
  margin-right: 93px;
  align-items: baseline;
}

.footer__contacts {
  margin-right: 70px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &:hover {
    color: var(--colorOn-darkВackground);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts__link--darkВackground {
  color: var(--colorOn-darkВackground);
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer__title {
  font-family: var(--main-font);
  color: #ffffff;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
