.projects__links {
  border-top: 1px solid #ececec;
}

.projects__links__container {
  padding-bottom: var(--indent);
}

.filters__list {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin-bottom-title);
}

.filters__item + .filters__item {
  margin-left: 8px;
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  transition: var(--transition-color),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: var(--colorOn-dark–íackground);
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}


.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:nth-child(3n + 1) {
    margin-left: 0;
  }

  &:nth-child(-n + 3) {
    margin-top: 0;
  }
}

.projects__item list .link {
  display: block;
}

.projects__img {
  max-width: 100%;
  height: auto;
  overflow: scroll;
}

.projects__tumb {
  position: relative;
  overflow: hidden;
}

.projects__container--overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0%);
    opacity: 1;
    transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.projects__description {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}

.projects__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
