.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--colorOn-darkÐ’ackground);
  width: 528px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__tittle {
  margin-bottom: 30px;

  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal__field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__field + .modal__field {
  margin-top: 28px;
}

.modal__text {
  position: absolute;
  top: 50%;
  left: 41px;
  transform: translateY(-50%);
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  z-index: -1;

  color: var(--text-color);

  .modal__input:not(:placeholder-shown) + & {
    transform: translateY(-35px) translateX(-40px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal__field:focus-within > & {
    transform: translateY(-35px) translateX(-40px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  z-index: -1;

  width: 18px;
  height: 18px;

  .modal__input:focus ~ & {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__textarea {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;

  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus,
  &:active {
    outline: none;
    border: 1px solid #2196f3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__coment {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal__input {
  padding: 11px 41px;
  z-index: 1;

  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-color);

  &:focus,
  &:active {
    outline: none;
    border: 1px solid #2196f3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.policy__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy__agreement {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */

  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.policy__icon {
  margin-right: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;

  background-color: #fff;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox:checked + & {
    border-color: transparent;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-origin: border-box;
    background-image: url(../images/icons/check.svg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.button--modal {
  margin-top: 30px;
  padding: 10px 56px;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  &:focus {
    border: 1px solid #2196f3;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.closeButton__svg {
  fill: #000;
  width: 11px;
  height: 11px;

  .closeButton:focus & {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
