:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --title-color: #212121;
    --text-color: #757575;
    --social-link-color: #afb1b8;
    --colorOn-dark–íackground: #ffffff;
    --indent: 94px;
    --margin-bottom-title: 50px;
    --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }